@model WebLocadora.Models.Filme

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Filme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FilmeId" />
            <div class="form-group">
                <label asp-for="FilmeNome" class="control-label"></label>
                <input asp-for="FilmeNome" class="form-control" />
                <span asp-validation-for="FilmeNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Disponivel" /> @Html.DisplayNameFor(model => model.Disponivel)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FilmeImg" class="control-label"></label>
                <input asp-for="FilmeImg" class="form-control" />
                <span asp-validation-for="FilmeImg" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Preferido" /> @Html.DisplayNameFor(model => model.Preferido)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FilmeCategoriaId" class="control-label"></label>
                <select asp-for="FilmeCategoriaId" class="form-control" asp-items="ViewBag.FilmeCategoriaId"></select>
                <span asp-validation-for="FilmeCategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

